.dropdownContainer {
  width: 100%;
  height: 100%;
  max-width: 30rem;
  min-width: 60rem;
  border: 1px solid #9fdbe7;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: transparent;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  &:focus {
    border: 1px solid #9fdbe7;
    border-radius: inherit;
  }
  &:active {
    border: 1px solid #9fdbe7;
    border-radius: inherit;
  }
  .dropdown {
    width: 100%;
    height: 100%;
    max-width: 30rem;
    min-width: 60rem;
    appearance: none;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    // &:active {
    //   border: 1px solid #9fdbe7;
    //   border-radius: inherit;
    // }
    // &:focus {
    //   border: 1px solid #9fdbe7;
    //   border-radius: inherit;
    // }
  }
}
