.dashboardItemContainer {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  min-width: 70rem;
  padding: 1rem;
  display: flex;
  margin: 1rem;
  border-radius: 2rem;
  background: transparent;
  .dashboardItem {
    max-width: 20rem;
    min-width: 15rem;
    width: 100%;
    max-height: 30rem;
    min-height: 20rem;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #9fdbe7;
    margin: 1rem;
    background-image: url("https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    &_list {
      padding: 0;
      list-style: none;
    }
    li {
      display: flex;
      align-items: center;
      img {
        margin-right: 0.5rem;
      }
    }
  }
}
